In [2]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [3]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Forks,US,2022-04-12 20:13:06,47.9417,-97.4337,30.13,93,100,20.71
1,1,Upernavik,GL,2022-04-12 20:16:16,72.7868,-56.1549,12.04,92,100,9.64
2,2,Gobabis,NaN,2022-04-12 20:16:16,-22.4500,18.9667,73.96,35,100,5.73
3,3,Sorong,ID,2022-04-12 20:16:16,-0.8833,131.2500,81.55,76,100,5.79
4,4,Albany,US,2022-04-12 20:15:07,42.6001,-73.9662,68.04,35,0,3.00

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
max_temp = city_data_df['Max Temp']
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
#1. Locations assigned to array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Long']]

#2. Weights variable to some value
max_temp = city_data_df['Max Temp']

#3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap for percent humidity

locations = city_data_df[['Lat', 'Long']]

humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap for cloudiness

locations = city_data_df[['Lat', 'Long']]

clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap for wind speed

locations = city_data_df[['Lat', 'Long']]

wind_speed = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Prompt individual to enter min and max temp for their vacation destination

min_temp = float(input('What is the minimum temperature you prefer for your trip?'))

max_temp = float(input('What is the maximum temperature you prefer for your trip?'))

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Long          float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [33]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sorong,ID,2022-04-12 20:16:16,-0.8833,131.2500,81.55,76,100,5.79
5,5,Conde,BR,2022-04-12 20:16:17,-7.2597,-34.9075,81.86,74,20,9.22
7,7,Abonnema,NG,2022-04-12 20:16:17,4.7084,6.7931,80.89,80,100,3.67
10,10,Cabo San Lucas,MX,2022-04-12 20:12:46,22.8909,-109.9124,84.51,39,40,10.36
17,17,Hithadhoo,MV,2022-04-12 20:16:20,-0.6000,73.0833,83.48,69,26,12.71
20,20,Vaini,TO,2022-04-12 20:16:21,-21.2000,-175.2000,82.56,78,20,9.22
21,21,Hobyo,SO,2022-04-12 20:12:28,5.3505,48.5268,82.92,72,6,12.55
23,23,Puerto Ayora,EC,2022-04-12 20:16:22,-0.7393,-90.3518,84.16,78,59,9.06
28,28,Rikitea,PF,2022-04-12 20:16:23,-23.1203,-134.9692,79.30,69,6,17.31
29,29,Victoria,HK,2022-04-12 20:15:02,22.2855,114.1577,78.19,88,13,5.99

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Long          0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Long          191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [36]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Long']].copy()

hotel_df['Hotel Name'] = ''

hotel_df.head(10)

              City Country  Max Temp      Lat      Long Hotel Name
3           Sorong      ID     81.55  -0.8833  131.2500
5            Conde      BR     81.86  -7.2597  -34.9075
7         Abonnema      NG     80.89   4.7084    6.7931
10  Cabo San Lucas      MX     84.51  22.8909 -109.9124
17       Hithadhoo      MV     83.48  -0.6000   73.0833
20           Vaini      TO     82.56 -21.2000 -175.2000
21           Hobyo      SO     82.92   5.3505   48.5268
23    Puerto Ayora      EC     84.16  -0.7393  -90.3518
28         Rikitea      PF     79.30 -23.1203 -134.9692
29        Victoria      HK     78.19  22.2855  114.1577

In [37]:
# Parameters for hotel search

params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [39]:
for index, row in hotel_df.iterrows():

    # Get the latitude and longitude
    lat = row['Lat']
    long = row['Long']

    # Add latitude and longitude to location key for params dict
    params['location'] = f'{lat},{long}'

    # Use search term 'lodging' and lats, longs
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # Make request to get the JSON file from search
    hotels = requests.get(base_url, params=params).json()

    try:
        # Grab first hotel and store name
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Long,Hotel Name
3,Sorong,ID,81.55,-0.8833,131.2500,Waigo Splash Hotel
5,Conde,BR,81.86,-7.2597,-34.9075,Pousada Beija Flor
7,Abonnema,NG,80.89,4.7084,6.7931,Corper's Lodge Obonoma
10,Cabo San Lucas,MX,84.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
17,Hithadhoo,MV,83.48,-0.6000,73.0833,Scoop Guest House
20,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
21,Hobyo,SO,82.92,5.3505,48.5268,Iftin hotel hobyo
23,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Rikitea,PF,79.30,-23.1203,-134.9692,People ThankYou
29,Victoria,HK,78.19,22.2855,114.1577,Mini Hotel Central

In [42]:
locations = hotel_df[['Lat', 'Long']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp}</dd>

</dl>

"""

In [44]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
locations = hotel_df[['Lat', 'Long']]

max_temp = hotel_df['Max Temp']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))